* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: black;
    line-height: 2.5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(Sem\ título\(1\).png);
    background-attachment: fixed;
}
header {
    background-color: black;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
}

.box {
    background-color: #fff;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box h2 {
    margin-bottom: 10px;
    color: black;
}

.box ul {
    list-style: disc inside;
}

.box ul li {
    margin-bottom: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
